<div class="card">
  <div class="card-header">
    Example01: Basic Control Value Accesor
  </div>

  <div class="card-body row">
    <div class="col-8 border-right">
      <form novalidate [formGroup]="miForm">
        <div class="form-group row mb-2">
          <label for="owner" class="col-md-3 col-form-label">Owner</label>
          <div class="col-md-9">
            <input type="text" class="form-control"
              required
              formControlName="owner"
              [ngClass]="{'is-invalid': (owner.touched || owner.dirty) && !owner.valid}">
            <span *ngIf="(owner.touched || owner.dirty) && !owner.valid">
              <span class="text-danger" *ngIf="owner.errors?.required">
                The field owner is required
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="car" class="col-md-3 col-form-label">Car</label>
          <div class="col-md-9">
            <app-car-one formControlName="car"></app-car-one>
            <span *ngIf="(car.touched || car.dirty) && !car.valid">
              <span class="text-danger" *ngIf="car.errors?.required">
                The field car is required
              </span>
            </span>
          </div>
        </div>

      </form>

      <div class="row mt-4">
        <div class="offset-md-4 col-md-4">
          <button class="btn btn-block btn-primary"
            (click)="save()">
            Save
          </button>
        </div>
      </div>
    </div>

    <div class="col-4"> <!-- Log Form properties -->
      <div class="row card">
        <div class="card-header bg-info">
          Log Car control
        </div>
        <div class="card-body">
          <p>Value: {{car.value}}</p>
          <p>Touched: {{car.touched}}</p>
          <p>Dirty: {{car.dirty}}</p>
          <pre>Error: {{car.errors | json}}</pre>
        </div>
      </div>

      <div class="row card">
        <div class="card-header">
          Log Form Control
        </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 px-2">
                <button class="btn btn-block btn-info my-2"  (click)="initForm()">
                  Init
                </button>
              </div>
            <div class="col-4 px-2">
              <button class="btn btn-block btn-info my-2" (click)="enableAll()">
                Enable
              </button>
            </div>
            <div class="col-4 px-2">
              <button class="btn btn-block btn-info my-2" (click)="disableAll()">
                Disable
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p>Dirty: {{miForm.dirty}}</p>
              <p>Touched: {{miForm.touched}}</p>
              <p>Valid: {{miForm.valid}}</p>
              <pre>Value: {{miForm.value | json}}</pre>
            </div>
          </div>
          </div>


      </div>

    </div>
  </div>

</div>
