<div class="form-group row mb-2">
  <label [for]="fieldName" class="col-md-3 col-form-label">{{ label }}</label>
  <div class="col-md-9">
    <input type="password" class="form-control"
      [id]="fieldName"
      [value]="value"
      [disabled]="isDisabled"
      [ngClass]="{'is-invalid': (formField.touched || formField.dirty) && !formField.valid}"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
    >
    <app-form-field-error
      [formField]="formField"
      [label]="label">
    </app-form-field-error>
  </div>
</div>
