<input type="text" [value]="value" class="form-control">

<!-- <div class="form-group row mb-2">
  <label for="owner" class="col-md-3 col-form-label">Owner</label>
  <div class="col-md-9">
    <input type="text" class="form-control"
      required
      formControlName="owner"
      [ngClass]="{'is-invalid': (owner.touched || owner.dirty) && !owner.valid}">
    <span class="invalid-feedback">
      <span *ngIf="owner.errors?.required">
        The field owner is required
      </span>
    </span>
  </div>
</div> -->
