<div class="row justify-content-center">

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Example03: Register
      </div>

      <div class="card-body">

        <form novalidate [formGroup]="miForm">
          <app-form-input formControlName="name"
            [parentForm]="miForm"
            fieldName="name"
            label="Name">
          </app-form-input>

          <app-form-input formControlName="email"
            [parentForm]="miForm"
            fieldName="email"
            label="Email">
          </app-form-input>

          <app-form-input-password formControlName="password"
            [parentForm]="miForm"
            fieldName="password"
            label="Password">
          </app-form-input-password>

        </form>

          <div class="row mt-4 justify-content-center"> <!-- Save button -->
            <div class="col-md-3">
              <button class="btn btn-block btn-primary"
              [disabled]="miForm.invalid"
                (click)="save()">
                Save
              </button>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>
