<div class="row justify-content-center">

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Example03: Register
      </div>

      <div class="card-body">

        <form novalidate [formGroup]="miForm">
          <app-form-input formControlName="name"
            [parentForm]="miForm"
            fieldName="name"
            label="Name">
          </app-form-input>
          <!-- <div class="form-group row mb-2">
            <label for="owner" class="col-md-3 col-form-label">Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control"
                required
                formControlName="name"
                [ngClass]="{'is-invalid': (name.touched || name.dirty) && !name.valid}">
              <span *ngIf="(name.touched || name.dirty) && !name.valid">
                <span class="text-danger" *ngIf="name.errors?.required">
                  The field name is required
                </span>
              </span>
            </div>
          </div> -->

          <div class="form-group row mb-2"> <!-- Email -->
            <label for="email" class="col-md-3 col-form-label">Email</label>
            <div class="col-md-9">
              <input type="email" class="form-control"
                required
                formControlName="email"
                [ngClass]="{'is-invalid': (email.touched || email.dirty) && !email.valid}">
              <span *ngIf="(email.touched || email.dirty) && !email.valid">
                <span class="text-danger" *ngIf="email.errors?.required">
                  The field email is required
                </span>
                <span class="text-danger" *ngIf="email.errors?.email">
                  The field email is not a valid email
                </span>
              </span>
            </div>
          </div>

          <div class="form-group row mb-2"> <!-- Password -->
            <label for="password" class="col-md-3 col-form-label">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control"
                required
                formControlName="password"
                [ngClass]="{'is-invalid': (password.touched || password.dirty) && !password.valid}">
              <span *ngIf="(password.touched || password.dirty) && !password.valid">
                <span class="text-danger" *ngIf="password.errors?.required">
                  The field password is required
                </span>
              </span>
            </div>
          </div>

        </form>

          <div class="row mt-4 justify-content-center"> <!-- Save button -->
            <div class="col-md-3">
              <button class="btn btn-block btn-primary"
              [disabled]="miForm.invalid"
                (click)="save()">
                Save
              </button>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

